.converter{
    position: absolute;
    top:33vh;
    left:75vw;
    margin: 1.5%;
    max-width: 30vw;
}
.name{
    color: white;
    font-size: 5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 6%;
}
.textboxes2{
    margin-bottom: 3%;
}
.name{
    user-select: none;
}
.convert{
    background-color: white;
    position:relative;
    margin-top: 5%;
    width: 7vw;
    height:2.5vw;
    padding:1% 2%;
    font-size:1vw;
}
.response3{
    color: cyan;
    font-size: 2.5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20%;
}