h1{
    color: white;
    position: absolute;
    left: 25vw;
    font-size: 8vmin;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 50vw;
    max-height: 40vh;
    top: 2vh;
    text-align: center;
    user-select: none;
}