.comparer{
    position: absolute;
    top:33vh;
    margin: 1.5%;
    max-width: 30vw;
}
.name{
    color: white;
    font-size: 5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 6%;
}
.build1{
    color: white;
    font-size: 4.5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1%;
    user-select: none;
}
.textboxes{
    margin-bottom: 8%;
}
.name{
    user-select: none;
}
.compare{
    background-color: white;
    position:relative;
    margin-top: 5%;
    width: 7vw;
    height:2.5vw;
    padding:1% 2%;
    font-size:1vw;
}
.response{
    color: lime;
    font-size: 2.5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
    user-select: none;
}




/* THIS STUFF WAS STOLEN FROM W3SCHOOLS */

.popup{
    cursor:pointer;
    display:inline-block;
    color:aqua;
}

.popup .popuptext{
    visibility: hidden;
    font-size: 2.5vh;
    width: 18vw;
    color: #fff;
    background-color: #555;
    text-align: center;
    border-radius: 7%;
    padding: 3% 0;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 16.5vw;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }